.main-layout {
    /* background-color: thistle; */
    padding: 20px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-layout {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

  
@media (max-width: 768px) {
  .card-layout {
    grid-template-columns: 1fr;
  }
}